#serviceid{
    margin-top: 50px;
}
.service_item{
    margin-top: 50px;
}
.service_item{
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
}
.service_item_details{
    margin-left: 50px;
}
.service_item_details a{
    color: black;
}
.service_item_details p a{
    color: #2c2c2c;
}
.service_item_img{
    border-radius: 25px;
    border: 4px solid #67B4CC;
}
.service_item_img img{
    height: 100%;
    width: 100%;
    border-radius: 21px;
}
.service_knowmore{
    height: 50px;
    width: 100%;
    line-height: 50px;
}
.service_knowmore a{
    color: #212529;
    padding: 10px 30px;
    background: linear-gradient(#22C2F2,#67d4f6);
    border-radius: 5px;
    margin-bottom: 10px;
    position: relative;
}
.service_knowmore a::after{
    position: absolute;
    content: '';
    top: calc(100% - 10px);
    left: 30px;
    height: 2px;
    background-color: #000;
    width: 0;
    transition: 0.2s;
}
.service_knowmore a:hover{
    background: linear-gradient(#22c1f200,#67d5f600);
}
.service_knowmore a:hover::after{
    width: calc(100% - 60px);
}