/* responsive css start */


@media (max-width: 576px) { /* Styles for extra small devices (phones) */
    .contact_us_map{
        height: 200px;
        width: 100%;
    }
    .contact_details{
        margin-top: 20px;
    }
}


@media (min-width: 577px) and (max-width: 768px) { /* Styles for small devices (tablets) */
    .contact_us_map{
        height: 250px;
        width: 100%;
    }
    .contact_details{
        margin-top: 20px;
    }
}


@media (min-width: 769px) and (max-width: 992px) { /* Styles for medium devices (laptops) */
    .contact_us_map{
        height: 300px;
        width: 100%;
    }
    .contact_details{
        margin-top: 20px;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
}


@media (min-width: 993px) and (max-width: 1200px) { /* Styles for large devices (large laptops) */

}


@media (min-width: 1201px) { /* Styles for extra large devices (very large desktop monitors) */

}


/* responsive css end */